interfaz/Historia_Compras.png
interfaz/movimientos_caja_reporte_1.pdf
interfaz/Informe de proyectos corregido.docx.pdf
interfaz/Interfaz_consulta_datos.pdf
interfaz/Interfaz_consultar_datos_2.pdf
interfaz/Interfaz_Ventas_Historial_Movimientos_de_Caja.pdf
interfaz/logs.pdf
interfaz/Movimientos_Caja_interfaz.png
